workDir = 's3://nf-economical-bucket-1/work'
aws.region = 'eu-central-1'
aws.batch.cliPath = '/home/ec2-user/miniconda/bin/aws'

process {
	executor = 'awsbatch'
        queue = 'spot'
	cpus = 1
	memory='2G'
	cache='lenient'
        withLabel: big_mem_time {
             memory = '8G'
             time = '24h' 
        }
        withLabel: big_time_cpus {
                cpus = params.maxcpus
                memory = '8G'
                time = '24h'

        }	
       withLabel: big_cpus {
                errorStrategy = 'retry'
                maxRetries = 4
		cpus = params.maxcpus
		memory = {6.GB * task.attempt}

	}
    withLabel: big_mem {
        cpus = 1
        memory = '10G'
    }
}
