maxcpus = params.maxcpus

process {
	executor = 'crg'
        penv = 'smp'
        queue = 'short-rocky9,long-centos79,biocore-el7,short-centos79,' 
	cpus = 1
	memory='12G'
	cache='lenient'
	containerOptions = { workflow.containerEngine == "docker" ? '-u $(id -u):$(id -g)': null}
        withLabel: big_mem_time {
             memory = '60G'
             time = '24h' 
        }
        withLabel: big_time_cpus {
                cpus = params.maxcpus
                memory = '60G'
                time = '24h'

        }	
       withLabel: big_cpus {
                errorStrategy = 'retry'
                maxRetries = 4
		cpus = params.maxcpus
		memory = {12.GB * task.attempt}

	}
    withLabel: big_mem {
        cpus = 1
        memory = '80G'
    }
}
